.container
{
    background-color: white;
    opacity: 0.8;
}
nav ul{
    display: flex;
    list-style: none;

}
#navbar
{
    background-color: black;
    height: 40px;
    color: white;
 
}
ul{
    text-align: center;
    justify-content: space-between;
    padding-top: 10px;
}
ul li:hover
{
    background-color: yellow;
    color: black;
    border-radius: 3px;
    padding: 2px 2px 2px 2px;

}
@keyframes colorchange
{
    from{color: white;}
    to{color: black;}
}
#Itech
{
    animation: colorchange 0.6s infinite alternate;
}
div{
    margin-bottom: 20px;
}
#footer
{
   bottom: 15px;
   width: 100%;
   /* justify-content: space-between; */
}
.dev
{
    margin-bottom: 5px !important;
}
#developers
{
    margin-bottom: 5px !important;
}
